<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    These are all your chats
    <%    for(var i=0; i<recipients.length; i++) { %>
        <h4><a href='/chat/new/<%= recipients[i].id %>'><%= recipients[i].name %></a></h4>
        <%- include('../partials/delete_post', {url: `/chat/${recipients[i].id}`}) %>
    <%    } %>

    <% if (recipients.length === 0) { %>
        You currently have no chats yet. <a href='/forum/startJio'>Click here to make new friends now!</a>
    <% }%>

</body>
</html>
