
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>MongoChat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <style>
        #messages{height:300px;}
    </style>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    Let's Chiong 
                    <button id="clear" class="btn btn-danger">Clear</button>
                </h1>
                <div id="status"></div>
                <div id="chat">
                    <br>
                    <div id = "chat-window" class="card">
                        <div id="output" class="card-block"><div id="feedback"></div></div>
                        
                    </div>
                    <br>
                    <!-- <form action="/chat/newChat" method="POST"> -->
                    <input type="hidden" id="receiver" name="receiver" value="<% recipient %>">
                        <textarea id="message" class="form-control" type="message" name="message" placeholder="Enter message..."></textarea>
                        <button id="send" type="submit" class="btn btn-primary">Send</button>
                    <!-- </form> -->
                </div>
            </div>
        </div>
    </div>
    <% var name = recipient %>
    <% console.log(user) %>
    <!-- <script src='chat.js' ></script> -->
    
    <script>
         var socket = io.connect('http://localhost:5000');
        //const socket = new WebSocket('http://localhost:5000');
        var receiver = document.getElementById('receiver');
        var output = document.getElementById('output');
        var btn = document.getElementById('send');
        var message = document.getElementById('message');
        var feedback = document.getElementById('feedback')
        
        
        // Emit events

        // Establish the connection
        socket.addEventListener('connect', () => {
            socket.emit()
        });
        socket.addEventListener('open', (event) => {
            console.log('what?..');
        })


        // Click the send button
        btn.addEventListener('click', function(){
            socket.emit('chat', {
                senderSocket: socket.id,
                senderId: '<%= sender.id %>',
                message: message.value,
                recipient: '<%= name %>'
            });
        });
        // Listen for events
        socket.on('chat', function(data){
            output.innerHTML += '<p><strong>' + "<%= sender.name %>" + ':</strong>' + data.message + '</p>'
        });        


    </script>
</body>