<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <!--name-->
        <a class="navbar-brand js-scroll-trigger" href="/home">Chiong Together</a>
        
        <!--Menu Button-->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars fa-fw"></i>
        Menu
        </button>
  
        <!--nav bar-->
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/forum/startJio">Start a Jio</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/forum">Forum</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Study Clique</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Focus</a>
                </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/dashboard">My Account</a>
            </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a>
            </li>
        </ul>
        </div>
    </div>
  </nav>
  
<!--Header-->
<div class="type-header">
    <div class="container">
        <div class="row">
  <!------------------------------------------------------------------------------------------------------------------->
            <div class="col-lg-12">
                <div class="type-message">
  
                    <h1>About</h1>
                    <h3>Know more about Chiong Together</h3>
                    
                </div>   
            </div>
    <!--------------------------------------------------------->
    <div class="post-content-section-a">
      <div class="container">

                <div class="row">
                    <div class="column" onclick="openTab('b1');" style="margin-right:25px; background-color: #e7f8df;">How to start a jio</div>
                    <div class="column" onclick="openTab('b2');" style="margin-right:25px;background-color: #c7dfbb;">How to join a jio</div>
                    <div class="column" onclick="openTab('b3');" style="margin-right:25px;background-color: #b2c2aa;">How to contact others</div>
                    <div class="column" onclick="openTab('b4');" style="background:#b3bab0;">How to manage my post</div>
                </div>
                <!------------------b1---------------------->
                <div id="b1" class="row containerTab" style="display:none;background-color: #e7f8df;">
                  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
                  <h2 style="font-family: Montserrat-Bold;">How to start a jio</h2>
                  
                  <div class="row">
                    <div class="col-lg-12">
                      <h2>Step 1 :</h2>
                      <h3>Click on the "Start a Jio" tab at the navigation bar.</h2>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-12">
                        <h2>Step 2 :</h2>
                      </div>
                      <div class="col-lg-6">
                        <img src="../style/images/1.jpg" class="about-img">
                      </div>
                      <div class="col-lg-6">
                        <h3>Fill in the title and content.</h3>
                        <h3>Try to be specific about the module code, date, time, location.</h3>
                        <h3>The details help others to find your jio more easily through search function.</h3>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-12">
                          <h2>Step 3 :</h2>
                          <h3>Click on the "Start a Jio" tab at the bottom of the page.</h2>
                        </div>
                  </div>
                </div>
                <!---------b2---------------->
                <div id="b2" class="row containerTab" style="display:none;background-color: #c7dfbb;">
                  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
                  <h2 style="font-family: Montserrat-Bold;">How to join a jio</h2>
                  
                  <div class="row">
                      <div class="col-lg-12">
                        <h2>Step 1 :</h2>
                      </div>
                      <div class="col-lg-6">
                        <img src="../style/images/2.jpg" class="about-img">
                      </div>
                      <div class="col-lg-6">
                        <h3>Click on the "Forum" tab at the navigation bar.</h3>
                        <h3>Type in the key words to find the jio you want quickly.</h3>
                        <h3>For example, type in module code CS1010S</h3>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-12">
                        <h2>Step 2 :</h2>
                      </div>
                      <div class="col-lg-6">
                        <img src="../style/images/3.jpg" class="about-img">
                      </div>
                      <div class="col-lg-6">
                        <h3>Choos the jio you are interested in.</h3>
                        <h3>Click to find out more.</h3>
                      </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-12">
                      <h2>Step 3 :</h2>
                    </div>
                    <div class="col-lg-6">
                      <img src="../style/images/4.jpg" class="about-img">
                    </div>
                    <div class="col-lg-6">
                      <h3>Click the author's name to enter his/her profile page for more information.</h3>
                      <h3>If you want to join the jio, you could leave a comment at the "I Wanna Join" session, and click the submit button.</h3>
                    </div>
                  </div>

                </div>
                <!-----------b3----------------->
                <div id="b3" class="row containerTab" style="display:none;">
                  <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
                  <h2 style="font-family: Montserrat-Bold;">How to contact others</h2>
                  
                  <div class="row">
                      <div class="col-lg-12">
                        <h2>Step 1 :</h2>
                      </div>
                      <div class="col-lg-6">
                        <img src="../style/images/4.jpg" class="about-img">
                      </div>
                      <div class="col-lg-6">
                        <h3>If you have any question want to ask the author or want send him/her a message containing personal information, you could click the "Contact Author" button.</h3>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-lg-12">
                        <h2>Step 2 :</h2>
                      </div>
                      <div class="col-lg-6">
                        <img src="../style/images/5.jpg" class="about-img">
                      </div>
                      <div class="col-lg-6">
                        <h3>After entered author's profile page, click the "Chat with author" button to enter the chatroom.</h3>
                      </div>
                  </div>

                </div>
                <!---------b4------------------>
                <div id="b4" class="row containerTab" style="display:none;">
                    <span onclick="this.parentElement.style.display='none'" class="closebtn">x</span>
                    <h2>Box 4</h2>
                    <p>Lorem ipsum..</p>
                  </div>

              </div>
            </div>
          
        </div>
      </div>
    </div>
    