<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <a href="/users/<%= user.matricNo%>"><%= user.name %></a></p>
<a href="/forum/startJio" class="btn btn-secondary">Start A Jio</a>
<a href="/forum" class="btn btn-secondary">All Posts</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>