<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Chiong Together </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Login Page-->
        <link rel="stylesheet" type="text/css" href="/style/vendor/bootstrap/css/bootstrap.min.css">
    
        <link rel="stylesheet" type="text/css" href="/style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    
        <link rel="stylesheet" type="text/css" href="/style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    
        <link rel="stylesheet" type="text/css" href="/style/css/util.css">
        <link rel="stylesheet" type="text/css" href="/style/css/login.css">
        <link rel="stylesheet" type="text/css" href="/style/css/home.css">

        <!--Home Page-->
        <link href="/style/css/home.css" rel="stylesheet">

        <!--Forum-->
        <link href="/style/css/forum.css" rel="stylesheet">
    </head>
<body>
    <div>
        <%- body%>
    </div>
    <!--Login Page-->
    <script src="/style/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/style/vendor/bootstrap/js/popper.js"></script>
	<script src="/style/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/style/js/main.js"></script>

    <!--Home Page-->
    <script src="/style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/style/js/grayscale.min.js"></script>
</body>
</html>