<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Chiong Together </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/style/vendor/bootstrap/css/bootstrap.min.css">
    
        <link rel="stylesheet" type="text/css" href="/style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    
        <link rel="stylesheet" type="text/css" href="/style/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    
        <!--CSS-->
        <link rel="stylesheet" type="text/css" href="/style/css/util.css">
        <link rel="stylesheet" type="text/css" href="/style/css/login.css">
        <link rel="stylesheet" type="text/css" href="/style/css/register.css">

    </head>
<body>
    <div>
        <%- body%>
    </div>

    <script src="/style/vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="/style/vendor/bootstrap/js/popper.js"></script>
	<script src="/style/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/style/js/main.js"></script>

</body>
</html>