<div class="limiter">
  <div class="right-side-container-1">
    <div class="right-side-container-2">

      <div class="login-form">
        <span class="login-form-title p-b-43">Welcome to Chiong Together</span>
        <a href="/users/login" class="login-btn">Login</a>
        <a href="/users/register" class="register-btn">Register</a>
      </div>
      
      <div class="left-side-pic" style="background-image: url('/style/images/bg.jpg');">

    </div>
  </div>
</div>