<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <!--name-->
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Chiong Together</a>
    
    <!--Menu Button-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-fw"></i>
      Menu
    </button>

    <!--nav bar-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/forum/startJio">Start a Jio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Study Clique</a>
        </li>
        <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Focus</a>
            </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/dashboard">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Header -->
<div class="type-header">
  <div class="container">
      <div class="row">
<!------------------------------------------------------------------------------------------------------------------->
          <div class="col-lg-12">
              <div class="type-message">

                  <h1>Start A Jio</h1>
                  <h3>Fill in some information and find your study buddies :)</h3>
                  
              </div>   
          </div>
<!--------------------------------------------------------->
<div class="post-content-section-a">
  <div class="container">
      <div class="row">

          <form class="col-lg-8 mx-auto" id="form-study" action="/forum/studyPost" method="POST">

              <label class="post-title" for="title">Title</label>
              <div class="type-in-bar">
                <input
                  type="title"
                  id="title-study"
                  name="title"
                  class="login-input"
                  placeholder="Your Title"
                />
              </div>

              <label class="post-title" for="content">Content</label>
              <div class="type-in-text"> 
                <textarea
                  rows="3"
                  type="content"
                  id="content-study"
                  name="content"
                  class="text-input"
                  placeholder="Create Post"
                ></textarea>
              </div>

              <button type="submit" class="login-btn">
                Start A Jio
              </button>

              <a href="/forum/startJio" class="register-btn">Cancle</a>
            </form>

            
      </div>
  </div>
</div>

        

      </div>
    </div>
  </div>
<!---------------------------------------------------------
      </div>
  </div>
</div>
