<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <!--name-->
    <a class="navbar-brand js-scroll-trigger" href="/home">Chiong Together</a>
    
    <!--Menu Button-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars fa-fw"></i>
      Menu
    </button>

    <!--nav bar-->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/forum/startJio">Start a Jio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#">Study Clique</a>
        </li>
        <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#">Focus</a>
            </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/dashboard">My Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/users/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Header -->
<div class="type-header">
  <div class="container">
      <div class="row">
<!------------------------------------------------------------------------------------------------------------------->
          <div class="col-lg-12">
              <div class="type-message">

                  <h1>Chiong Together</h1>
                  <h3>The Best Platform to Find Study Partner</h3>
                  
              </div>   
          </div>
<!------------------------------------------------------------------------------------------------------------------->
          <a href="/forum/studyPost" class="type-content-section-a">
              <div class="container">
                  <div class="row">
          
                      <div class="type-col-lg-8 mx-auto">
                          <hr class="type-section-heading-spacer">
                          <div class="clearfix"></div>
                          <h2 class="type-section-heading">Study Buddies</h2>
                          <p class="type-lead">Here you can find people taking same modules as you. <br> <br>Click to start a jio inviting them study together!</p>
                      </div>
          
                  </div>
              </div>
            </a>

            <a href="#" class="type-content-section-a">
              <div class="container">
                  <div class="row">
          
                      <div class="type-col-lg-8 mx-auto">
                          <hr class="type-section-heading-spacer">
                          <div class="clearfix"></div>
                          <h2 class="type-section-heading">Project Mates</h2>
                          <p class="type-lead">Do you have a problem with finding a project mate?<br> <br> Click here to make an open jio!</p>
                      </div>
          
                  </div>
              </div>
            </a>

            <a href="#" class="type-content-section-a">
              <div class="container">
                  <div class="row">
          
                      <div class="type-col-lg-8 mx-auto">
                          <hr class="type-section-heading-spacer">
                          <div class="clearfix"></div>
                          <h2 class="type-section-heading">Competition Partners</h2>
                          <p class="type-lead">Not enough people to form a group for competition? <br> <br>Click here to find more people join you!</p>
                      </div>
          
                  </div>
              </div>
            </a>

<!-------------------------------------------------------------------------------------------------------------------->
      </div>
  </div>
</div>