<div class="limiter">
  <div class="right-side-container-1">
    <div class="right-side-container-2">

      <form class="login-form" action="/users/login" method="POST">
        <span class="login-form-title p-b-43">
          Login Chiong Together
        </span>
        <% include ../partials/messages %>

        <!--Email-->
        <label for="email">Email</label>
        <div class="type-in-bar">
          <input
            type="email"
            id="email"
            name="email"
            class="login-input"
            placeholder="Enter Email"
          />
        </div>
        
        <!--Password-->
        <label for="password">Password</label>
        <div class="type-in-bar">
          <input
            type="password"
            id="password"
            name="password"
            class="login-input"
            placeholder="Enter Password"
          />
        </div>
    
        <!--Login-->
        <button type="submit" class="login-btn">Login</button>

        <!--Register-->
        <a href="/users/register" class="register-btn">Register</a>
      </form>

      <div class="left-side-pic" style="background-image: url('/style/images/bg.jpg');">
      </div>
    </div>
  </div>
</div>