/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 23%;
    padding: 15px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

    color: #586160;
    font-family: Montserrat-Regular;
    border-radius: 3px 3px 0 0;
  }
  
  .containerTab {
    padding: 20px;
    color: #586160;
    font-family: Montserrat-Regular;
    text-align:left;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: #586160;
    font-size: 35px;
    cursor: pointer;
  }

  .about-img{
    float:center;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: none;
    border-radius: 5px;
  }

  .clear-btn{
    color: white;
    background-color: rgb(209, 75, 75);
    font-family: Montserrat-Regular;
    font-size: 20px;

    border: none;
    padding: 12px 14px;
    border-radius:5px;
    cursor: pointer;
  }

  .clear-btn:hover{
    background-color: rgb(141, 44, 44);
  }