/*---------------------accordion-----------------------------*/
button.accordion{
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    background-color: rgb(217, 223, 213);
    border-radius: 5px;
    padding:10px;
    margin:5px;
    transition: 0.4s;

    color:rgb(106, 121, 93);
    font-family: Montserrat-Regular;
    font-size: 20px;
}

button.accordion:hover{
    background-color: rgb(177, 204, 156);
}

button.accordion.active{
    background-color: rgb(177, 204, 156);
    border-radius: 5px 5px 0 0;
}

/*------------------------------panel-----------------------------------*/
div.panel{
    background-color: white;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    margin:0 0 5px 5px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
}
